body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    width: 100vw;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 40px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    height: auto;
    margin-bottom: 10px;
}

.logo-text {
    color: #3498db; /* Example blue color */
    font-weight: bold;
    font-size: 1.2em;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex: 1;
  }

  .contact-section {
    background-color: rgb(4, 8, 70);
    padding: 30px 20px;
    color: white;
    margin-top: auto; /* Push to bottom */
  }

  .contact-title,
  .contact-item h3,
  .contact-item p,
  .contact-item a {
    color: #fff;
  }

  .contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .arrow-separator {
    height: 1px;
    background-color: #ccc;
    opacity: 0.2;
  }

  /* @media (min-width: 768px) {
    .contact-info-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .contact-item {
      flex: 1;
      padding: 0 10px;
    }

    .arrow-separator {
      width: 1px;
      height: auto;
    }
  } */