<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Aqui va css code -->
    <title>{% block title %} Home {% endblock %}</title>
    <link
    rel="stylesheet"
    href="../static/global.css"
    />
    <script src="../static/index.js"></script>

    <style>
        body {
            background-color: #ffffff; /* Dark light gray */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>

