{%extends "base.html" %} {%block title %} Clue Me In {% endblock %}


{% block content %}
<div class="container">
    <h1 style="font-size: 100px;">Welcome to Clue Me In!</h1>
    <p style="font-size: 35px;">Streamlining volunteer and employee check-in with ease.</p>
    <div class="logo">
        <img src="\static\manman.png" width="400px" height="300px" alt="Clue Me In Logo" class="logo-image">
        <button style="font-size: 45px;"onclick="window.location.href='second' class="logo-text">Continue</button>
    </div>
</div>
{% endblock %}